.danhang {
  /**溢出隐藏*/
  overflow: hidden;
  /**溢出用省略号显示*/
  text-overflow: ellipsis;
  /** 规定段落中的文本不进行换行*/
  white-space: nowrap;
}
.duohang {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 行数 */
  overflow: hidden;
}
.duohang2 {
  /**溢出隐藏*/
  overflow: hidden;
  /**溢出用省略号显示*/
  text-overflow: ellipsis;
  /**作为弹性伸缩盒子模型显示。*/
  display: -webkit-box;
  /**设置伸缩盒子的子元素排列方式：从上到下垂直排列*/
  -webkit-box-orient: vertical;
  /**显示的行数*/
  -webkit-line-clamp: 3;
}
/* 兼容 */
p {
  position: relative;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
}
p::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 40px;
  background: -webkit-linear-gradient(left, transparent, #fff 55%);
  background: -o-linear-gradient(right, transparent, #fff 55%);
  background: -moz-linear-gradient(right, transparent, #fff 55%);
  background: linear-gradient(to right, transparent, #fff 55%);
}
