/* 1.父元素 position: relative; 子元素 position: absolute ; */
.c {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c1 {
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
}
/*2.*/
.c2 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*3.弹性布局*/
.a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 4. */
.父元素 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /* 固定宽高 */
  width: 500px;
  height: 500px;
}

/* 5. js 实现*/
